
#admin-login-form {
    display: none; /* Tersembunyi secara default */
    position: fixed; /* Tetap di tempat */
    z-index: 1; /* Di atas */
    left: 0;
    top: 0;
    width: 100%; /* Lebar penuh */
    height: 100%; /* Tinggi penuh */
    overflow: auto; /* Aktifkan gulir jika diperlukan */
    background-color: rgba(0, 0, 0, 0.4); /* Hitam dengan opacity */
}

#admin-login-form .modal-content {
    border-radius: 10px;
    background-color: #E2E1E1;
    margin: 10% auto; /* 15% dari atas dan di tengah */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Bisa lebih atau kurang, tergantung pada ukuran layar */
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#admin-login-form h3 {
    margin-bottom: 10px;
}

#admin-login-form label {
    display: block;
    text-align: left; 
    margin-bottom: 5px;
}

#admin-login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#admin-login-form button {
    background-color: #00aaff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 120px;
    width: 100%;
}

#admin-login-form a {
    display: block;
    margin-top: 10px;
    color: #1A28AC;
    text-decoration: none;
}

#admin-login-form a:hover {
    text-decoration: underline;
}